doctype html
html(lang='pt-BR' dir: "ltr")
	head
		meta(charset='utf-8')
		meta(content="IE=edge" "http-equiv"="X-UA-Compatible")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="robots" content="index, follow")
		meta(name="keywords" content="apneia, polissonografia, santos, baixada santista, neurologia, neurologista, bruxismo, sonambulismo, exame")
		block description
			meta(name="description" content='Somos a clínica pioneira na Baixada Santista a fazer o exame, diagnosticar e tratar a apnéia e outros distúrbios do sono. Para isso contamos com equipe capacitada, técnica e cientificamente, para dar-lhe assistência na realização e tratamento médico.')
		meta(name="google-site-verification" content="WoTUD6xsfY5ORT6fCA2tvVHsUuo8MDtoV4vH7GpVe2A")
		block title
			title Instituto do sono de Santos - Polissonografia, neurologia e diagnóstico dos distúrbios do sono

		link(href="https://fonts.googleapis.com/css?family=Playfair+Display:400italic" rel="stylesheet" type="text/css")
		link(href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css")
		link(href="/stylesheets/style.css.css" rel="stylesheet" type="text/css")
		link(href="/stylesheets/ionicons.min.css" rel="stylesheet" type="text/css")
		link(href="/stylesheets/flexslider.css.css" rel="stylesheet" type="text/css")
		link(href="/stylesheets/animate.css.css" rel="stylesheet" type="text/css")
		link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" 'data-turbolinks-track'=true)

	body
		#preloader
		a.scrollToTop(href="#")
			i.ion-android-arrow-dropup-circle
		include menu.pug
		block content

	script(src="/javascripts/jquery.min.js")
	script(src="/javascripts/modernizr.custom.97074.js")
	script(src="/javascripts/bootstrap.min.js")
	script(src="/javascripts/jquery.easing.1.3.min.js")
	script(src="/javascripts/bootstrap-hover-dropdown.min.js")
	script(src="/javascripts/jquery.sticky.js")
	script(src="/javascripts/jquery.flexslider-min.js")
	script(src="/javascripts/jquery.mixitup.min.js")
	script(src="/javascripts/parallax.min.js")
	script(src="/javascripts/wow.min.js")
	script(src="/javascripts/app.js")
	script(src="/javascripts/ga.js")
